LOG_LEVEL=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASS}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"

REDIS_HOST=
REDIS_PORT=
REDIS_ADDR="${REDIS_HOST}:${REDIS_PORT}"
REDIS_DB=

S3_BUCKET=

SERVER_USER=
SERVER_HOST=
SERVER_PORT=
SERVER_ADDR="${SERVER_HOST}:${SERVER_PORT}"
